<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
{% if user and not user.is_anonymous %}
    Hi
     <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
{% else %}
    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a><br />
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a><br />
    <h4><a href="/accounts/login">Login</a> Or <a href="/accounts/register">Register </a>with us</h4>
{% endif %}
</body>
</html>